@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rightHeroImage {
  image-rendering: pixelated;
  flex-shrink: 0;
  width: 1085px;
  height: 184px; /* add height */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1085 184'><path d='M 77 1 C 77 1 702.761 14.525 822 48.5 C 941.239 82.475 1084 169 1084 169 L 934.5 133.5 L 822 107 L 580.5 96 L 278 133.5 L 102 155.5 L 1 183 L 1 1 Z' fill='rgba(81, 47, 235, 0.55)' stroke='%23AAA'></path></svg>");
}

.rightHeroImageParent{
filter: blur(60px);
  flex: none;
  height: 184px;
  left: -46px;
  opacity: .55;
  overflow: hidden;
  position: absolute;
  top: 30px;
  width: 1085px;
  z-index: 1;
}
.leftHeroImage {
  image-rendering: pixelated;
  flex-shrink: 0;
  width: 1085px;
  height: 184px; /* add height */
  background-size: 100% 100%;
  background-repeat: no-repeat;
 background-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 1085 184\"><path d=\"M 76 0 C 76 0 701.761 13.525 821 47.5 C 940.239 81.475 1083 168 1083 168 L 933.5 132.5 L 821 106 L 579.5 95 L 277 132.5 L 101 154.5 L 0 182 L 0 0 Z\" transform=\"translate(1 1) rotate(180 541.5 91)\" fill=\"rgba(81, 47, 235, 0.55)\" stroke=\"%23AAA\"></path></svg>");
}

.leftHeroImageParent{
filter: blur(60px);
  flex: none;
  height: 184px;
  opacity: .55;
  overflow: hidden;
  position: absolute;
bottom: 140px;
  right: 0;
  width: 1085px;
  z-index: 1;
}